/*____________________________________________________________________________________________Main Menu*/
.MainMenu {
    padding: 1em; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;
}
.MainMenu ul {
    list-style: none; padding: 0; margin: 0; background-color: black; display: flex; justify-content: space-around;
}
.MainMenu li a {
    color: white; display: block; text-decoration: none; padding: .5em 1em; font-size: 24px; background-color: black;
}
.MainMenu li a:hover{
    background: orange; color: brown;
}
/*____________________________________________________________________________________________ Link Menu*/

.LinkMenu{
    float:right; padding: 1em; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white; display: block;
}
.LinkMenu ul{
    list-style: none; padding: 0; margin: 20px; background-color: black; align-content: stretch;
}
.LinkMenu li a:hover{
    background-color: red; color: white;
}
.LinkMenu li a:visited{
    color: rgb(114, 185, 7);
}
/*____________________________________________________________________________________________Para los enlaces de twitter...*/
#Twitter{
    color: black; display: block; text-decoration: none; padding: .5em 1em; font-size: 24px; background-color: rgb(147, 225, 245); 
}
#Twitch{
    color: black; display: block; text-decoration: none; padding: .5em 1em; font-size: 24px; background-color: rgb(250, 239, 145);
}
#Youtube{
    color: black; display: block; text-decoration: none; padding: .5em 1em; font-size: 24px; background-color: rgb(247, 187, 148);
}
#Google{
    color: black; display: block; text-decoration: none; padding: .5em 1em; font-size: 24px; background-color: rgb(250, 177, 238);
}




/*Características generales*/
.CajaPrincipal{
    float: left; display: block;
}
h1, h2, p, li{
    font-size: 14px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: brown; line-height: 1.5cm;
}
body{
    background-color:  rgb(203, 227, 252)
}
@media screen and (min-width: 600px) {
    h2{
        background-color: forestgreen; 
    }
    li{
        background-color: orange; 
    }
}

/*Formulario*/
.CajaForm{
    content: 200px white; background-color: white;  
}
#Name, #Correo, #Comentar{
    display:inline-block ;font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: brown; width: 350px; box-sizing: border-box; align-items: left; vertical-align: top;
}
#Boton{
    display: inline-block; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: black; align-content: flex-end; width: 150px; box-sizing: border-box; position: relative; left: 200px; 
}
#Boton:hover{
    background-color: red;
}